.maine {
    width: 40%;
    padding: 3rem;
    background: gray;
    margin-top: 5rem;
    border-radius: 0.5rem;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
}

.error {
    color: red;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 0.5rem 1rem;
    font-weight: bold;
    color: midnightblue;
    margin-top: 0.5rem;
    margin-bottom: 1rem;
    box-shadow: 0.2rem 0.2rem 0.2rem black;
    position: relative;
}

button {
    width: 100%;
    padding: 0.5rem 1rem;
    margin-top: 2rem;
    font-weight: bold;
    font-size: 1.5rem;
}

label {
    font-weight: bold;
    font-size: 1.2rem;
}

.icon-hide {
    position: relative;
    left: 30rem;
    bottom: 2.8rem;
    cursor: pointer;
}