.header {
    width: 100%;
    background: var(--var-bg-header);
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
}

ul {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

a {
    color: var(--var-color-header);
    font-weight: bold;
    font-size: 1.5rem;
}

.active {
    color: red;
}

.header > .login {

}

.input {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inputStyle {
    width: 1.7rem;
    margin: 0 0.3rem 0 0.3rem;
}

.input > p {
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--var-color-header);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1rem;
}

